@model FsInfoCat.Models.DB.HostDevice

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HostDevice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineIdentifer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineIdentifer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsWindows)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsWindows)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInactive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInactive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HostID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
