@model FsInfoCat.Web.Models.AppHostIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<div>
    <h4>HostDevice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineIdentifer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineIdentifer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Platform)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Platform)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowCrawl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowCrawl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInactive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInactive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
</div>
<a asp-controller="HostDevices" asp-action="Edit" asp-route-id="model.HostDeviceID">Edit</a>

